In [2]:
x,y = False,False

In [3]:
x

False

In [4]:
for k in range (4):
    print k**2

0
1
4
9

In [7]:
def x_mins_3(x):
    return x-3
x_mins_3(5)

2

In [8]:
def g(arg1=10, arg2=20) :
    return arg1 / float (arg2)
g(arg2=100)

0.1

In [9]:
g(1,20)

0.05

In [10]:
import math
math.pi

3.141592653589793

In [11]:
from math import sin
sin(math.pi/2)

1.0

In [13]:
import numpy as np
a =np.array([1,2,3,5,6,7,8,9])

In [14]:
a[3]

5

In [15]:
a[3:7]

array([5, 6, 7, 8])

In [16]:
b=np.array([1,5,7])

In [17]:
a[[b]]

array([2, 7, 9])

In [18]:
a[a>5]

array([6, 7, 8, 9])

In [20]:
b=np.arange(1,20,3)

In [21]:
b

array([ 1,  4,  7, 10, 13, 16, 19])

In [24]:
a=np.ones((3,3))
a

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [25]:
a=np.array([[1,3,4],[3,4,5]])

In [26]:
a

array([[1, 3, 4],
       [3, 4, 5]])

In [27]:
a.shape

(2L, 3L)

In [28]:
a.T

array([[1, 3],
       [3, 4],
       [4, 5]])

In [30]:
b=np.arange(12).reshape(3,4)

In [31]:
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [33]:
b.sum(axis=1)

array([ 6, 22, 38])

In [34]:
b=np.mat('1 2 3 4; 5 6 7 8; 9 10 11 12')

In [35]:
b

matrix([[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]])

In [2]:
b[:,:3]

NameError: name 'b' is not defined

In [39]:
a=np.mat('1:3:4:5')

In [1]:
b*a

NameError: name 'b' is not defined

In [41]:
aa=np.arange(5)

In [42]:
aa

array([0, 1, 2, 3, 4])

In [43]:
aa*5

array([ 0,  5, 10, 15, 20])

In [49]:
import pandas as pd

In [45]:
import numpy as np

In [50]:
s=pd.Series(np.random.randn(3), index =['a','b','c'])
s

a   -0.178456
b    0.909056
c    1.137573
dtype: float64

In [51]:
s['a']

-0.17845618142389363

In [52]:
s[0]

-0.17845618142389363

In [53]:
d={'a':0,'b':1}

In [55]:
pd.Series(d)

a    0
b    1
dtype: int64

In [58]:
s=pd.Series(np.arange(2), index=['a','b'])

In [59]:
s+s

a    0
b    2
dtype: int32

In [61]:
t=pd.Series([30,40], index = ['a','b'])

In [62]:
t

a    30
b    40
dtype: int64

In [63]:
s+t

a    30
b    41
dtype: int64

In [64]:
d={'one':[10.,20.], 'two':[4.,3.]}

In [66]:
pd.DataFrame(d,index=['a','b'])

   one  two
a   10    4
b   20    3

In [67]:
d

{'one': [10.0, 20.0], 'two': [4.0, 3.0]}

In [75]:
dd={'0',pd.Series([1,2],index=['A','B','C'])}

ValueError: Wrong number of items passed 2, placement implies 3

In [73]:
df=pd.DataFrame(np.floor(np.random.rand(3,4)*10), columns=['A','B','C','D'])

In [71]:
df2= pd.DataFrame(np.floor(np.random.randn(3,2)*10), columns=['B','C'])

In [72]:
df2

    B   C
0  -3 -16
1 -17  -1
2  -3   8

In [74]:
df+df2

    A  B   C   D
0 NaN -3 -13 NaN
1 NaN -9   0 NaN
2 NaN -1  17 NaN

In [76]:
#3d label Arrays

In [77]:
df=pd.DataFrame({'intcol':[1,2], 'float':[.1,.2]})

In [79]:
df.ix[:,['float','intcol']]

   float  intcol
0    0.1       1
1    0.2       2

In [80]:
df['float']>.15

0    False
1     True
Name: float, dtype: bool

In [81]:
df[df['float']>.15]

   float  intcol
1    0.2       2

In [82]:
# [[]] used to get a data frame

In [83]:
df2

    B   C
0  -3 -16
1 -17  -1
2  -3   8

In [84]:
df2.dropna()

    B   C
0  -3 -16
1 -17  -1
2  -3   8

In [85]:
df3=df.copy()
mean = df3['float'].mean()

In [87]:
df3['float'].fillna(mean
                )

0    0.1
1    0.2
Name: float, dtype: float64

In [88]:
mean

0.15000000000000002

In [89]:
df

   float  intcol
0    0.1       1
1    0.2       2

In [90]:
10.4/4

2.6

In [95]:
df
df['float'].dropna().map(lambda x: 1 + x)

0    1.1
1    1.2
Name: float, dtype: float64

In [97]:
df[['float']].apply(np.sqrt)

      float
0  0.316228
1  0.447214

In [99]:
df.describe()

          float    intcol
count  2.000000  2.000000
mean   0.150000  1.500000
std    0.070711  0.707107
min    0.100000  1.000000
25%    0.125000  1.250000
50%    0.150000  1.500000
75%    0.175000  1.750000
max    0.200000  2.000000